<h1>Edit catalog</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@catalog) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :detail%>
      <%= f.text_area :detail%>

      <%= f.submit "Create new catalog", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>