<h1>All Catalogs</h1>
<div class="container">
	<ul class="groups">
		<% @catalogs.each do |catalog|%>
			<li>
				Title: <%=catalog.title %>
				<br />
				Detail: <%= catalog.detail%>

				<div id="edit_delete_group">
				<%= link_to 'edit', edit_catalog_path(catalog)%>
				<%= link_to 'delete', catalog, method: :delete, data: {confirm: "You sure?"}%>
			</div>
			</li>
		<% end %>
	</ul>
	<br />
	<%= link_to "Add new catalog",new_catalog_path, class:'btn btn-medium btn-primary' %>
</div>