<% provide(:title, 'Update') %>
<h1>Update group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= f.label :group_name %>
      <%= f.text_field :group_name %>

      <%= f.label :manager_id %>
      <%= f.collection_select :manager_id, @group.user, :id, :email, include_blank:true %>

    <%= f.submit "Update group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>