<% provide(:title, @user.email.split('@framgia.com')[0]) %>
<div class="container">
      <h2>
        All report of <%= @user.email.split('@framgia.com')[0] %><br />
      </h2>
      <br /><br /><br />
      <%= link_to 'new report', root_path, class:'btn btn-small btn-primary'%>
      <br /><br /><br />
      <% group_manager = Group.find_by_id(@user.group_id) %>
      <%if group_manager %>
            <% if group_manager.manager_id == @user.id %>
              <%= link_to "Report Group" , group_list_path ,class:'btn btn-medium btn-primary' %>
            <% end %>
      <% end %>
      </br> </br>
      <table id='show_report' width='100%'>
            <tr width='100%'>
      		<td width='15%'><b>Date created</b></td>
      		<td width='15%'><b>Title</b></td>
      		<td width='70'><b>Content</b></td>
      	</tr>
      	<% if @user.report.any? %>
	      		<% @user.report.each do |report|%>
	      			<tr>
		      			<% a= report.created_at
		      			   catalog = Catalog.find_by_id(report.catalog_id)
		      			%>
		      			<td><%= "#{a.year}-#{a.month}-#{a.day}"%></td>
		      			<td><%= catalog.title%></td>
		      			<td><%= "#{report.content},file: #{report.paths}" %></td>
	      			</tr>
	      		<%end%>
      	<%end%>
      </table>
</div>
