<% provide(:title,"Create new report")%>
<html>
<head>
<script type="text/javascript">
$( document ).ready(function() {
    $('#report_catalog_id').change(function() {
        $.ajax({
          "url": "/get_name",
          "type": "GET",
          "data":{"id": document.getElementById("report_catalog_id").value},
          success:function(result){
           $("#suggest").html(result);
          }});
  });
});
</script>

</head>
<body>
  <h1>Create new report</h1>
  <div class="row">
    <div class="span6 offset3">
        <%= form_for(@report) do |f| %>
          <%= render 'shared/error_messages', object: f.object%>
          <%= f.label "Catalog :"%>
          <%= f.collection_select :catalog_id, Catalog.all, :id, :title , include_blank: true %>

          <%= f.label "Suggest :"%>
          <span id="suggest"></span>
          <%= f.label "Content :"%>
          <%= f.text_area :content %>

           <label for="up">Add File attach</label>
          <%= file_field_tag 'datafile', :multipart => true%>

          <div class="clr"></div>
          <div class="actions">
          <%=f.submit "Submit",class: "medium warning btn pretty" %>
          </div>
        <% end %>
          <br />
    </div>
  </div>
</body>